@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<aside class="main-sidebar sidebar-dark-primary elevation-4 position-fixed">
    <!-- Brand Logo -->
    <a href="/adminql/dashboard" class="brand-link d-flex align-items-center">
        <img src="~/dist/img/logo.png" alt="Logo Hunre" width="75px" class="mr-2">
        <span class="brand-text font-weight-light">Quản lý kí túc xá</span>
    </a>

    <!-- User Panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
        <div class="image">
            <img src="~/dist/img/logo.png" class="img-circle elevation-2" alt="Logo Hunre">
        </div>
        <div class="info">
            @{
                var adminLogin = HttpContextAccessor.HttpContext.Session.GetString("AdminLogin");
                if (!string.IsNullOrEmpty(adminLogin))
                {
                    <a href="#" class="d-block">@adminLogin</a>
                    <a asp-action="Logout" asp-controller="Login" class="text-danger">Đăng xuất</a>
                }
                else
                {
                    <a href="#" class="d-block">DamQuocDan</a>
                }
            }
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            @* Admin Account Management *@
            

            @* Room Management *@
            <li class="nav-item">
                <a href="/adminql/rooms" class="nav-link">
                    <i class="fa-solid fa-house-user fa-lg"></i>
                    <p class="ml-3">Quản lý phòng</p>
                </a>
            </li>

            @* Service Management *@
            <li class="nav-item">
                <a href="/adminql/services" class="nav-link">
                    <i class="fa-solid fa-list fa-lg"></i>
                    <p class="ml-3">Quản lý dịch vụ</p>
                </a>
            </li>

            @* News Management *@
            <li class="nav-item">
                <a href="/adminql/news" class="nav-link">
                    <i class="fa-regular fa-newspaper fa-lg"></i>
                    <p class="ml-3">Quản lý tin tức</p>
                </a>
            </li>

            @* Student Management *@
            <li class="nav-item">
                <a href="/adminql/students" class="nav-link">
                    <i class="fa-solid fa-graduation-cap fa-lg"></i>
                    <p class="ml-3">Quản lý sinh viên</p>
                </a>
            </li>

            @* Payment Management *@
            <li class="nav-item">
                <a href="/adminql/transactions" class="nav-link">
                    <i class="fa-solid fa-wallet fa-lg"></i>
                    <p class="ml-3">Quản lý thanh toán</p>
                </a>
            </li>

            @* Contract Management *@
            <li class="nav-item">
                <a href="/adminql/occupancies" class="nav-link">
                    <i class="fa-solid fa-file-signature fa-lg"></i>
                    <p class="ml-3">Quản lý hợp đồng</p>
                </a>
            </li>
        </ul>
    </nav>
</aside>
