@model LuxuryLife.Models.Review

@{
    ViewData["Title"] = "Chỉnh Sửa Đánh Giá";
}

<h1>Chỉnh Sửa Đánh Giá</h1>

<h4>Thông Tin Đánh Giá</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReviewId" />
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Khách Hàng</label> <!-- Customer -->
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourId" class="control-label">Chuyến Du Lịch</label> <!-- Tour -->
                <select asp-for="TourId" class="form-control" asp-items="ViewBag.TourId"></select>
                <span asp-validation-for="TourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label">Đánh Giá</label> <!-- Rating -->
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label">Bình Luận</label> <!-- Comment -->
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createdate" class="control-label">Ngày Đánh Giá</label> <!-- Createdate -->
                <input asp-for="Createdate" class="form-control" />
                <span asp-validation-for="Createdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" /> <!-- Save -->
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở Lại Danh Sách</a> <!-- Back to List -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
