@model LuxuryLife.Models.News

@{
    ViewData["Title"] = "Delete";
}

<h1>Xoá</h1>

<h3>Bạn có muốn xoá tin tức <b>@Html.DisplayFor(model => model.Title)</b></h3>

<form asp-action="Delete">
    <input type="hidden" asp-for="NewId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index">Đóng</a>
</form>
