@model LuxuryLife.Models.Admin

@{
    ViewData["Title"] = "Chi tiết";
}

<h1>Chi tiết</h1>

<div>
    <h4>Thông tin Admin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên quản lý
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Mật khẩu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            Ảnh đại diện
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Avatar)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdminId" class="btn btn-warning btn-sm">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Trở lại danh sách</a>
</div>
